// colors

$burnt-sienna: #ee6c4dff;
$coral: #f38d68ff;
$gunmetal: #223843ff;
$antiflash-white: #eff1f3ff;
$timberwolf: #dbd3d8ff;
$white: #ededed;
$black: #1c1c1c;

// utils

$fontName: Inter, sans-serif;
$backgroundColor: $coral;
$backgroundGradient: $coral;
$textColor: $black;
