---
import WeekOfYear from "../components/WeekOfYear.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Numero de Semaine">
  <main>
    <WeekOfYear />
  </main>
</Layout>

<style></style>
