---
---

<footer class="footer">
  <div class="contentFooter">
    <span class="bold">semaine.adm.ink</span>
    <br />
    <p>
      <a href="https://www.anthony-dumas.fr/" target="_blank">Anthony Dumas</a> -
      2023-2025
    </p>
  </div>
</footer>
