---
import { getISOWeek, endOfWeek, startOfWeek, format } from "date-fns";

import { fr } from "date-fns/locale/index.js";

const locales = { fr };

const date = new Date();
const weekNumber = getISOWeek(date);

const currentDay = format(new Date(), "EEEE d MMMM", {
  locale: fr,
});

const lastWeekDay = format(
  endOfWeek(date, {
    weekStartsOn: 1,
  }),
  "EEEE d MMMM",
  {
    locale: fr,
  }
);
const firstWeekDay = format(
  startOfWeek(date, {
    weekStartsOn: 1,
  }),
  "EEEE d MMMM",
  {
    locale: fr,
  }
);
---

<div class="currentWeek">
  <p class="title">
    📅 Nous sommes le {currentDay}<br />le numéro de semaine est le
  </p>
  <p class="weekNumber">{weekNumber}</p>
  <p class="weekDescription">
    La semaine commence le {firstWeekDay} et se termine le {lastWeekDay}
  </p>
</div>
