---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import Footer from "~components/Footer.astro";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Ce site existe uniquement pour vous donner le numéro de la semaine actuelle. C'est très pratique.">
    <title>{title}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📆</text></svg>">
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
</style>
